
.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.landing .titulo .subtitulo{
    font-family: 'DM Sans', sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--skyblue);
    margin-bottom: 1rem;
    letter-spacing: 1.5rem;
}

.landing .titulo .DM{
    font-family: 'DM Serif Display', sans-serif;
    font-size: 8rem;
    color: var(--blue-bg-color);
    margin-bottom: 1rem;
}

.landing .parrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
    width: 50%;
    line-height: 2.5rem;
}

.landing .botones{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}


@media (max-width: 768px) {
    .landing .parrafo {
        font-size: 1.2rem;
    }
    .landing .titulo .DM {
        font-size: 4rem;
    }
    .landing .botones {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
    }
    
    .landing .botones button {
        margin: 0.5rem;
    }
}

@media (max-width: 576px) {
    .landing .titulo .subtitulo{
        font-size: 1.5rem;
    }
    .landing .titulo .DM {
        font-size: 3rem;
    }
    .landing .parrafo {
        font-size: 1rem;
        line-height: 2rem;
    }
    .landing .botones {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
    }
    
    .landing .botones button {
        margin: 0.5rem;
    }
}