header{
    position: relative;
    padding: 0 2rem;
}

.navbar {
    font-family: 'DM Sans', sans-serif;
    color: white;
    background-color: var(--blue-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 10%;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: column;
    cursor: context-menu;
}

.navbar-brand {
    font-size: 1.3rem;
    font-weight: bold;
}
.navbar-brand-2 {
    letter-spacing: 0.52rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.nav-item {
    margin: 0 2rem;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #ddd;
}

.menu-bars {
    display: none;
}

.dropdown-menu {
    background-color: rgba(4, 77, 153, 0.9);
    font-family: 'DM Sans', sans-serif;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu.open{
    height: 240px;
}

@media (max-width: 992px){
    .navbar-nav,
    .botones{
        display: none;
    }

    .menu-bars{
        display: block;
        cursor: pointer;
    }

    .dropdown-menu{
        display: block;
    }
}

@media (max-width: 576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}